CMakeCache.txt
CTestConfig.cmake
*~

archives
bin
build*/*
build/*

doc/doxygen/*/Doxyfile
doc/doxygen/*/html
doc/doxygen/*/latex
doc/doxygen/man

lib

libexamples/mmg3d/example0/example0_a/mesh.*
libexamples/mmg3d/example0/example0_b/mesh.*
libexamples/mmg3d/example1/result0.*
libexamples/mmg3d/example2/2spheres_*
libexamples/mmg3d/example4/tinyBoxt.o*
libexamples/mmgs/example0/mesh.*
libexamples/mmgs/example0_fortran/mesh.*
libexamples/mmgs/example1/2spheres_*
libexamples/mmg/example0/cube.3d.*
libexamples/mmg/example0/cube.s.*
libexamples/mmg/example0/result.*
libexamples/mmg/example0_fortran/cube.3d.*
libexamples/mmg/example0_fortran/cube.s.*
libexamples/mmg/example0_fortran/result.*

ci_tests

src/common/mmg.h

