CMakeCache.txt
CTestConfig.cmake
*~

archives
bin
build*/*
build/*

doc/doxygen/*/Doxyfile
doc/doxygen/*/html
doc/doxygen/*/latex
doc/doxygen/man

lib

libexamples/mmg3d/example0/example0_a/mesh.*
libexamples/mmg3d/example0/example0_b/mesh.*
libexamples/mmg3d/example1/result0.*
libexamples/mmg3d/example2/2spheres_*

ci_tests

src/mmg3d/mmg3d.h

